<label for="name">
    Name
    <input id="name" [(ngModel)]="formState.name" type="text" (ngModelChange)="setName($event)">
</label>
<label for="bday-date">
    Birth day
    <input id="bday-date" [(ngModel)]="formState.bDay" type="date" (ngModelChange)="setBday($event)">
</label>
<label for="location">
    Birth location
</label>
@if (countries) {
<label for="bdaylocation-country">
    Country
    <select name="bdaylocation-country" id="bdaylocation-country" [(ngModel)]="selectedCountryIndex"
        (ngModelChange)="setBirthCountry(countries[$event])">
        @for (country of countries; track country.id; let i = $index) {
        <option value={{i}}>
            {{ country.name }}
        </option>
        }
    </select>
</label>
<!-- @if (selectedCountryIndex) {
<div>
    {{ getCountryNameByIndex(selectedCountryIndex) }}
</div>
} -->
@if (selectedCountryIndex && states) {
<label for="bdaylocation-state">
    State/Region
    <select name="bdaylocation-state" id="bdaylocation-state" [(ngModel)]="selectedStateIndex"
        (ngModelChange)="setBirthState(countries[selectedCountryIndex].states[$event])">
        @for (state of states; track state.id; let i = $index) {
        <option value={{i}}>
            {{ state.name }}
        </option>
        }
    </select>
</label>
}
<!-- @if (selectedStateIndex) {
<div>
    {{ getStateNameByIndex(selectedStateIndex) }}
</div>
} -->
@if (selectedCountryIndex && selectedStateIndex && cities) {
<label for="bdaylocation-city">
    City
    <select name="bdaylocation-city" id="bdaylocation-city" [(ngModel)]="selectedCityIndex"
        (ngModelChange)="setBirthCity(countries[selectedCountryIndex].states[selectedStateIndex].cities[$event])">
        @for (city of cities; track city.name; let i = $index) {
        <option value={{i}}>
            {{ city.name }}
        </option>
        }
    </select>
</label>
}
<!-- @if (selectedCityIndex) {
<div>
    {{ getCityNameByIndex(selectedCityIndex) }}
</div>
} -->
} @else {
Loading locations...
}
<label for="bday-time">
    Birth time
    <input id="bday-time" [(ngModel)]="formState.bTime" type="time" (ngModelChange)="setBtime($event)">
    @if (formState.bTzName) {
    {{ formState.bTzName }}
    }
    @if (timezones) {
    <label for="birth-tz">
        Time zone:
        <select id="birth-tz" [(ngModel)]="formState.bTzName" (ngModelChange)="setBirthTZ($event)">
            @for (tz of timezones; track tz) {
            <option value={{tz}}>
                {{ tz }}
            </option>
            }
        </select>
    </label>
    }
</label>
<button [disabled]="!formComplete" (click)="calculateChart()">Generate birth chart</button>
