/* You can add global styles to this file, and also import other style files */

:root {
    --black: #000;
    --grey1: #cdcdcd;
    --grey2: #dedede;
    --font-big: 48px;
    --font-medium: 24px;
    --font-small: 12px;
}

body {
    font-family: 'Orbitron';
    font-weight: normal;
}

.button {
    all: unset;
    text-decoration: none;
    color: var(--black);
    padding: 4px 8px;
    border: 1px solid var(--black);
    cursor: pointer;

    &:hover {
        background-color: var(--grey1);
    }

    &:disabled {
        color: var(--grey1);
        border: 1px solid var(--grey1);
        background-color: var(--grey2);
        cursor: not-allowed;
    }
}
